{% extends TEMPLATE_BASE %}


{% if admin_p %}
{% block admin %}
{% if election.frozen_at %}
{% else %}
<b>Election under Construction</b>
{% endif %}

<ul>
<li> Registration 
<b>{{ election.registration_status_pretty }}</b>
{% if not election.frozen_at %}
{% if election.openreg %}
[<a href="{% url helios.views.one_election_set_reg election.uuid %}?open_p=0">turn off</a>]
{% else %}
[<a href="{% url helios.views.one_election_set_reg election.uuid %}?open_p=1">turn on</a>]
{% endif %}
{% endif %}
</li>

{% if not election.frozen_at %}
<li> <a href="{% url helios.views.one_election_build election_id=election.uuid %}">questions and answers</a></li>
<li> <a href="{% url helios.views.list_trustees_view election.uuid %}">trustees</a></li>
<li> <a href="{% url helios.views.voters_manage election_id=election.uuid %}">manage voters</a></li>
<li> <a href="{% url helios.views.one_election_freeze election_id=election.uuid %}"><em>freeze</em> election and start voting.</a></li>
{% else %}

{% ifequal election.tally_type "homomorphic" %}

{% if election.encrypted_tally %}

{% if election.result %}
<b>election tallied</b>
{% else %}
{% if election.ready_for_decryption_combination %}
<li> <a href="{% url helios.views.combine_decryptions election.uuid %}">combine decryptions</a></li>
{% else %}
<li> <a href="{% url helios.views.list_trustees_view election.uuid %}">trustees (for decryption)</a></li>
{% endif %}
{% endif %}

{% else %}

{% if email_voters %}
<li> <a href="{% url helios.views.voters_email election_id=election.uuid %}">email voters</a></li>
{% endif %}
<li> <a href="{% url helios.views.one_election_compute_tally election_id=election.uuid %}">compute tally</a></li>

{% endif %}

{% else %}
<li> custom tally</li>
{% endifequal %}



{% endif %}

</ul>
{% endblock %}
{% endif %}

{% block content %}
  <h2 class="title">{{ election.name }}</h2>
{% if election.admin.info.name %}
an election created by {{election.admin.info.name}}
{% endif %}

<div style="border-left: 1px solid #888; padding: 0; padding-left: 10px; margin: 0; margin: 15px; margin-bottom: 25px;">
<span style="padding:0px; margin:0px; font-size:1.5em; ">
    {{election.description}}
</span>
<p style="padding:0; margin:3px;">
{% if election.questions %}
    {{election.questions|length}} question(s)
{% else %}
    no questions yet.
{% endif %}
    {% if election.frozen_at %}
    <br /><b><tt style="font-size: 1.5em;">{{election.hash}}</tt></b>
    {% endif %}
</p>
</div>

{% if user %}
{% if voter %}
<p>You are registered to vote in this election.
{% if election.use_voter_aliases %}
Your voter alias is {{voter.alias}}.
{% endif %}
</p>

{% else %}
You ({{user.user_id}}) are <em>not</em> registered to vote in this election.<br />
{% if election.result %}
{% else %}
{% if election.openreg %}
<form method="post" action="{% url helios.views.one_election_register election.uuid %}">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="register!" />
</form>
{% endif %}
{% endif %}
{% endif %}
{% else %}
{% endif %}

{% if election.frozen_at %}
{% if votes %}
<p>Your last cast ballot:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt><br />
at <span class="date_prettify">{{votes.0.cast_at}}</span>.
</p>
{% endif %}

<p ><a style="font-size: 18pt;" href="/booth/vote.html?election_url={% url helios.views.one_election election.uuid %}">Vote in this election</a><br />
{% if election.result %}
[the tally has already been computed, but you can view the voting interface anyways]
{% else %}
{% if votes %}
[the new vote will replace the old]
{% endif %}

{% if notregistered %}
[you are not registered for this election, so you won't be able to cast a vote]<br />
{% endif %}

{% if election.encrypted_tally or election.result %}
[the election has entered the tally process, so you won't be able to cast a vote]<br />
{% endif %}

{% endif %}

{% else %}
<p><em>This election is not yet open.</em><br />
{% endif %}


{% if election.frozen_at %}
<p>
<a href="{% url helios.views.one_election_bboard election.uuid %}" style="font-size:18pt;">Bulletin Board</a>
|
<a href="{% url helios.views.list_trustees_view election.uuid %}" style="font-size:18pt;">Trustees</a>
</p>
{% endif %}

{%if election.result %}

<hr /><h2>Tally</h2>
<br />
{% for question in election.pretty_result %}
<b>{{question.question}}</b>:
<ul>
{% for answer in question.answers %}
<li> {{answer.answer}}: {{answer.count}}
{% endfor %}
</ul>
{% endfor %}

{% ifequal election.tally_type "homomorphic" %}
<a style="font-size: 14pt;" target="_blank" href="/verifier/verify.html?election_url={% url helios.views.one_election election.uuid %}">Audit the Election Tally</a><br />
{% else %}
<b>This election uses a custom tallying mechanism, which must be audited by the custom code.</b>
{% endifequal %}

<br /><br />
{% endif %}

{% endblock %}