{% extends TEMPLATE_BASE %}


{% if admin_p %}
{% block admin %}

<b><em>{% if election.voting_has_started %}
{% if election.voting_has_stopped %}
voting has stopped
{% else %}
voting has started
{% endif %}
{% else %}
voting has not yet started
{% endif %}</em></b>


<ul>
<li> Featured Election:
{% if election.featured_p %}
<b>YES</b>
[<a href="{% url helios.views.one_election_set_featured election.uuid %}?featured_p=0">toggle</a>]
{% else %}
<b>NO</b>
[<a href="{% url helios.views.one_election_set_featured election.uuid %}?featured_p=1">toggle</a>]
{% endif %}
</li>
{% if election.voting_has_started %}
{% else %}
{% if not election.frozen_at %}
<li> <a href="edit">election parameters</a></li>
{% endif %}
{% endif %}
<li> Registration 
<b>{{ election.registration_status_pretty }}</b>
{% if not election.frozen_at %}<br />
{% if election.openreg %}
[<a href="{% url helios.views.one_election_set_reg election.uuid %}?open_p=0">turn off</a>]
{% else %}
[<a href="{% url helios.views.one_election_set_reg election.uuid %}?open_p=1">turn on</a>]
{% endif %}
{% endif %}
</li>

{% if not election.frozen_at %}
<li> <a href="{% url helios.views.one_election_build election.uuid %}">questions and answers</a></li>
<li> <a href="{% url helios.views.list_trustees_view election.uuid %}">trustees</a></li>
<li> <a href="{% url helios.views.voters_manage election.uuid %}">manage voters</a></li>
<li> <a href="{% url helios.views.one_election_freeze election.uuid %}"><em>freeze</em> ballot and<br />open election for voting.</a></li>
{% else %}

{% if election.encrypted_tally %}

{% if election.result %}
<b>election tallied</b>
{% else %}
{% if election.ready_for_decryption_combination %}
<li> <a href="{% url helios.views.combine_decryptions election.uuid %}">combine decryptions</a></li>
{% else %}
<li> <a href="{% url helios.views.list_trustees_view election.uuid %}">trustees (for decryption)</a></li>
{% endif %}
{% endif %}

{% else %}

{% if email_voters %}
<li> <a href="{% url helios.views.voters_email election.uuid %}">email voters</a></li>
{% endif %}
<li> <a href="{% url helios.views.one_election_compute_tally election.uuid %}">compute tally</a></li>

{% endif %}



{% endif %}

</ul>
{% endblock %}
{% endif %}



{% block content %}
{% if election.voting_has_started %}
<script>
if (!navigator.javaEnabled()) {
  $(document).ready(function() {
    $('#votelink').hide();
    $('#nojava_message').show();    
  });
}
</script>
{% endif %}
  <h2 class="title">{{ election.name }}</h2>
<p style="padding-top:0; margin-top:2px">
  {% if election.admin.info.name %}
an election created by <u><b>{{election.admin.info.name}}</b></u>
{% if election.questions %}
    consisting of {{election.questions|length}} questions.
{% else %}
    , no questions yet.
{% endif %}

</p>
{% endif %}

<div style="margin-bottom: 25px;">
<span style="padding:0px; margin:0px; font-size:1.5em; ">
"{{election.description}}"
</span>
<br />
{% if election.questions %}{{election.questions|length}}{% else %}0{% endif %} question(s).
</div>

{% if election.result %}
<span class="highlight-box round">
    This election is complete.
</span><br />

<br />
<h2 class="highlight-box">Tally</h2>
{% for question in election.pretty_result %}
<b>{{question.question}}</b>:
<ul>
{% for answer in question.answers %}
<li> {{answer.answer}}: {{answer.count}}
{% endfor %}
</ul>
{% endfor %}

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
    Election closed. Tally will be computed soon.
</span><br />
{% else %}

{% if election.voting_has_started %}
<span class="highlight-box round" style="font-size: 1.6em; margin-right: 10px;" id="votelink">
<a href="/booth/vote.html?election_url={% url helios.views.one_election election.uuid %}">Vote in this election </a>
</span>

<div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
  You do not have Java installed in your browser.<br />At this time, Helios requires Java.<br />
  Visit <a target="_new" href="http://java.sun.com">java.sun.com</a> to install it.
</div>
<br /><br />
{% else %}
<span class="highlight-box round">
  voting is not yet open
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:5px;">
  You are registered to vote in this election.
{% if election.use_voter_aliases %}
Your voter alias is {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% if election.result %}
{% else %}
{% if election.openreg %}
{% if eligible_p %}
You are <em>not</em> registered to vote in this election.<br />
<form method="post" action="{% url helios.views.one_election_register election.uuid %}">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="register!" />
</form>
{% else %}
You are not eligible for this election.
{% endif %}
{% else %}
{% if eligible_p %}
You are <em>not registered</em> to vote in this election, and registration is closed.<br />
{% else %}
You are <em>not eligible</em> to vote in this election.<br />
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% else %}

For your privacy, you'll be asked to log in only once your ballot is encrypted.
{% endif %}

{% endif %}

{% endif %}

<br clear="left" />

<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Audit Info</a>
<div id="auditbody" style="display:none;">
<br />Election URL:<br />
<tt style="font-size: 1.2em;"><a href="{{election.url}}">{{election.url}}</a></tt>

{% if election.frozen_at %}
<br />
<br />Election Fingerprint:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Your last cast ballot at <span class="date_prettify">{{votes.0.cast_at}}</span><br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url helios.views.one_election_bboard election.uuid %}">Ballot Tracking Center</a> &nbsp;| &nbsp;
<a href="{% url helios.views.one_election_audited_ballots election.uuid %}">Audited Ballots</a>
</p>

<p>
Trustees: 
{% for t in trustees %}
{{t.name}}&nbsp;&nbsp;
{% endfor %}
[<a href="{% url helios.views.list_trustees_view election.uuid %}">more info</a>]
</p>

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <a href="/booth/vote.html?election_url={% url helios.views.one_election election.uuid %}">preview booth</a>
</p>
{% endif %}  

{% endif %}

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verify <a target="_blank" href="/verifier/verify.html?election_url={% url helios.views.one_election election.uuid %}">election tally</a>.
{% endif %}

review the <a href="/booth/vote.html?election_url={% url helios.views.one_election election.uuid %}">voting booth</a>.
</p>

{% endif %}
</div>
</div>




{% endblock %}