{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Questions <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">back to election</a>]</span></h2>

  <script language="javascript">
{% if election.questions %}
  QUESTIONS = {{questions_json|safe}};
{% else %}
  QUESTIONS = [];
{% endif %}
{% if admin_p %}
  ADMIN_P = true;
{% else %}
  ADMIN_P = false;
{% endif %}

  CSRF_TOKEN = '{{csrf_token}}';

  function refresh() {
      $('#questions').processTemplate({'questions' : QUESTIONS, 'admin_p' : ADMIN_P}); 

      NUM_ANSWERS = 0;
      add_answers(DEFAULT_NUM_ANSWERS);
 }
  
  function save_questions(callback) {
      $.post('./save_questions', {'questions_json' : $.toJSON(QUESTIONS), 'csrf_token': CSRF_TOKEN}, function(result) {
          callback();          
      });      
  }
  
  function question_add(form) {
      var max = null;
      if (form.max.value != "")
        max = parseInt(form.max.value);
        
      var new_q = {'question' : form.question.value, 'min': parseInt(form.min.value), 'max': max, 'short_name': form.question.value, 'answers': [], 'answer_urls': [], 'choice_type': form.choice_type.value, 'tally_type': 'homomorphic'};
      var i = 0;
      while(true) {
          i += 1;
          if (!form['answer_' + i] || !form['answer_' + i].value)
            break;
          new_q.answers[i-1] = form['answer_' + i].value;
          new_q.answer_urls[i-1] = null;
      }
      
      QUESTIONS.push(new_q);
      
      save_questions(refresh);
  }
  
  function question_remove(q_num) {
      var new_questions = [];
      $(QUESTIONS).each(function(i, q) {
          if (i == q_num)
            return;
          new_questions.push(q);
      });
      QUESTIONS = new_questions;
      save_questions(refresh);
  }

  var DEFAULT_NUM_ANSWERS = 5;
  var NUM_ANSWERS = 0;

  function add_answer() {
    NUM_ANSWERS += 1;
    $('#answer_table tbody').append('<tr><th>&nbsp;&nbsp;&nbsp;</th><th>Answer #' + NUM_ANSWERS + '</th><td><input type="text" name="answer_' + NUM_ANSWERS + '" size="70" /></td></tr>');
  }

  function add_answers(num) {
    for (var i=0; i<num; i++)
      add_answer();
  }

  function question_move_up(num) {
    var temp_q = QUESTIONS[num];
    QUESTIONS[num] = QUESTIONS[num-1];
    QUESTIONS[num-1] = temp_q;
    save_questions(refresh);
  }

  $(document).ready(function() {
      $('#questions').setTemplateURL("/static/helios/static_templates/question.html");

      refresh();
  });
  

  </script>

  <div id="questions">
  </div>
					
			<!-- end #content -->
{% endblock %}
