{% extends TEMPLATE_BASE %}
{% block title %}Confirm Vote{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#cast_form').hide();
  $('#waiting_div').show();
}
</script>
<h1>{{election.name}} &mdash; Confirm your Vote</h1>

<p>
  We have recorded your encrypted ballot:<br />
    <tt style="font-size:1.8em;">{{vote_fingerprint}}</tt>
</p>

{% if user %}
<p>
  You are logged in as: <br/>
<span style="font-size: 1.4em;">
    {{user.user_id}}</span><br />
    (<a href="{% url auth.views.logout %}?return_url={{CURRENT_URL}}">switch user</a>)
</p>

{% if voter %}
{% if past_votes %}
<h3>Past Votes Cast for this Election</h3>
<ul>
{% for vote in past_votes %}
<li> <tt>{{vote.vote_hash}}</tt></li>
{% endfor %}
</ul>
{% else %}
<em>no vote cast yet</em>
{% endif %}
<br /><br />
<div id="cast_form">
<form method="post" action="" onsubmit="show_waiting()">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="submit" value="cast this ballot" style="font-size: 1.5em;" /><br />
    <span style="font-size:0.8em;"><br />You can cast as many ballots as you want,<br />only the last one counts.</span>
</form>
</div>
<div id="waiting_div">
    Verifying and Casting your ballot<br />
    <img src="/static/helios/loading.gif" />
</div>
{% else %}
<b>You are <em>not</em> registered for this election.</b><br />
{% endif %}

{% else %}
Before you can cast this ballot, you'll need to <a href="{% url auth.views.index %}?return_url={% url helios.views.one_election_cast_confirm election.uuid %}">log in</a>.<br />
Don't worry, you can go log in without losing your ballot.
{% endif %}
{% endblock %}
