{% extends "helios/templates/cryptobase.html" %}

{% block admin %}
<p>
    Typically, you want at least two trustees, so that no single individual can decrypt votes on his/her own. However, if this is a simple election, a single trustee is acceptable.
</p>

{% if not election.frozen_at %}
<p>
    As administrator, you can<br /><a href="{% url helios.views.election_keygenerator election.uuid %}">generate and upload a key in one step</a>.
</p>

<p>
    For other trustees, ask them to visit the key generation page:<br /><br />
    <tt>{{ settings.URL_HOST }}{% url helios.views.election_keygenerator election.uuid %}</tt>.<br /><br />
    When they send you the public key, you can 
    <a href="{% url helios.views.new_trustee election.uuid %}">upload it</a> .
</p>
{% endif %}

{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Trustees <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">done</a>]</span></h2>

{% if not trustees|length %}
<p><em>no trustees yet</em></p>

<p>
    Trustees are responsible for decrypting the election result.
</p>

{% else %}
<p>
  The following trustees manage the decryption process for this election.
</p>

{% for t in trustees %}
<h3> Trustee #{{forloop.counter}}: {{t.name}} {% if not election.frozen_at %}
[<a onclick="return confirm('Are you sure you want to remove this Trustee?');" href="{% url helios.views.delete_trustee election.uuid %}?uuid={{t.uuid}}">x</a>]
{% endif %}
</h3>
<p>
  Public Key Fingerprint: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>tally recorded for this trustee.</b>
{% else %}
[<a href="{% url helios.views.trustee_decrypt_and_prove election.uuid, t.uuid %}">decrypt</a>]
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}