{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">Trustees for Election {{election.name}} <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">done</a>]</span></h2>

<p>
  The following trustees manage the decryption process for this election.
</p>

{% for t in trustees %}
<h3> Trustee #{{forloop.counter}} {% if not election.frozen_at %}
[<a onclick="return confirm('Are you sure you want to remove this Trustee?');" href="{% url helios.views.delete_trustee election.uuid %}?uuid={{t.uuid}}">x</a>]
{% endif %}
</h3>
<p>
  Public Key Fingerprint: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>tally recorded for this trustee.</b>
{% else %}
[<a href="{% url helios.views.trustee_decrypt_and_prove election.uuid, t.uuid %}">decrypt</a>]
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% if not election.frozen_at %}
<p><a href="{% url helios.views.new_trustee election.uuid %}">add a trustee</a></p>
{% endif %}

{% endblock %}