{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Upload Voters <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election_id=election.uuid %}">done</a>]</span></h2>

<p>
    Please enter CSV content for your list of voters as follows:
</p>
<pre>
    password,ben@adida.net,Ben Adida
    password,bob@acme.org,Bob Acme
    ...
</pre> 
<form method="post" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <textarea name="voters_csv" cols="80" rows="10"></textarea><br /><br />
    <input type="submit" value="go" />
</form>

{% endblock %}